<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="keywords" content="暗記,記憶術,英語,英単語,英熟語,受験,勉強,学習,語彙" />
<meta name="description" content="暗記ノートとは、1時間に100個のことが覚えられる魔法のノートです。英単語をはじめとし、あらゆるジャンルのことが覚えられます。毎日使い続けることで、誰もが生き字引になれる。暗記ノートはそんな不思議なノートです。" />
<meta property="og:title" content="暗記ノート" />
<meta property="og:type" content="website" />
<meta property="og:description" content="1時間に100個のことが覚えられる、暗記学習ソフトの決定版！" />
<meta property="og:image" content="../img/smileslime.png" />
<!-- CSS Files -->
<link th:href="@{../css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link th:href="@{../css/font-awesome.min.css}" rel="stylesheet" />
<link th:href="@{../fonts/icon-7-stroke/css/pe-icon-7-stroke.css}" rel="stylesheet" />
<link th:href="@{../fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css}" rel="stylesheet" />
<link th:href="@{../css/animate.css}" rel="stylesheet" media="screen" />
<link th:href="@{../css/owl.theme.css}" rel="stylesheet" />
<link th:href="@{../css/owl.carousel.css}" rel="stylesheet" />
<link th:href="@{../css/_forum.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" th:href="@{../css/jquery-ui.css}" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<script th:src="@{../js/jquery-3.1.0.min.js}"></script>
<script th:src="@{../js/jquery.mobile-1.4.5.min.js}"></script>
<script th:src="@{../js/jquery-ui.js}"></script>
<script th:src="@{../js/_forum.js}"></script>
<title>暗記ノート 掲示板 一覧</title>
</head>
<body>
<a href="#" class="scrollToTop"><i class="pe-7s-up-arrow pe-va"></i></a>

<!-- /.contact section -->
<div class="outer">
<div id="contact">
	<div class="contact " data-img-width="2000" data-img-height="1333" data-diff="100">
		<div class="">
			<div class="container">
				<div class="">
					<!-- /.contact form -->
					<div class="">
						<h2>暗記ノート 掲示板一覧</h2>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="comment">
<div id="forum" th:each="forum : ${forums}">
	<a th:href="${forum.file_name}" th:text="${forum.forum_name} + '(' + ${forum.count} + ')'"></a>
	<br />
</div>
</div>
<br />
<br />
<br />
<br />
<br />
	<!-- /.javascript files -->
    <script th:src="@{../js/jquery.js}"></script>
    <script th:src="@{../js/bootstrap.min.js}"></script>
	<script th:src="@{../js/jquery-ui.js}"></script>
    <script th:src="@{../js/custom.js}"></script>
    <script th:src="@{../js/jquery.sticky.js}"></script>
	<script th:src="@{../js/wow.min.js}"></script>
	<script th:src="@{../js/owl.carousel.min.js}"></script>
	<script>
		new WOW().init();
	</script>

</body>
</html>