@CHARSET "UTF-8";

body{
	color:black;
    font-size:13px;
    font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}

#qa_area
{
    display: block;
	line-height: 1;	
	border-collapse:collapse;
}

.qa
{
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom:#9B9EA6 1px solid;
	border-right:#9B9EA6 1px solid;
}

textarea:focus, input:focus{
    outline: none;
}

input
{
	display:inline;
	word-break: break-word;
    font-size:13px;
    font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;	
}

.q_input
{
	border:none;
	color:#202DA2;
	background:transparent;
}

.a_input
{
	border:none;
	color:#FF0000;	
	background:transparent;
}

.q
{
	display: inline-block;
	color:#202DA2;
	padding-right: 5px;
}

.a
{
	display: inline-block;
	color:#FF0000;
	opacity: 0;
}

#top_border
{
	border-top:#9B9EA6 1px solid;
}

#bottom_border
{
	border-bottom:#9B9EA6 1px solid;
	margin-top: -1px;
}

