@CHARSET "UTF-8";

body{
	color:black;
    font-size:13px;
    font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
    position: relative;
    padding: 0px;
    margin: 0;
    overflow-y:hidden;
    overflow:hidden;
}

.dropdown-menu a
{
    font-size:13px;	
}

#entire_page
{
	margin:auto;
}

div.page
{
	margin-top:5px;
	text-align:center;
	color:gray;
    font-size:13px;
    font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}

div.page_right
{
	position:absolute;
	top:485px;
	left:140px;
	text-align:center;
	color:gray;
    font-size:13px;
    font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}

#note_area
{
	margin:0;
	padding:0;
	position: relative;
}

#wood_table
{
	position:absolute;
	z-index: -1;
}

#notebook
{
	position:absolute;
	top:5px;
	left:5px;
	width:880px;
	z-index:-1;
}

#qa_area
{
	width:359px;
	z-index: 100;
	height:480px;
	
	overflow-y: scroll;
    
	/*line-height: 1;	*/
	border-collapse:collapse;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}
#qa_area::-webkit-scrollbar 
{ 
    display: none;  // Safari and Chrome
}
#qa_area_right
{
	height:480px;
	overflow-y: scroll;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
	
}
#qa_area_right::-webkit-scrollbar 
{ 
    display: none;  // Safari and Chrome
}

.note-line
{
	border-top:1px solid #d9d9d9;
	width:355px;
	height:19px;
	border-collapse:collapse;
	margin:0;
	padding:0;
	z-index: -1;
}

.qa
{
/*	
	display: inline-block;
	*/
	padding-top: 5px;
	padding-bottom: 2px;
	/*
	border-bottom:#9B9EA6 1px solid;
	*/
	line-height:19.5px;
	border-right:#d9e6f2 1px solid;
	padding-left: 3px;
	padding-right: 3px;
	z-index:1000;
}

.q
{
	/*
	display: inline-block;
	*/
	word-wrap: break-word;
	color:#202DA2;
	padding-left: 1px;
	padding-right: 1px;
	z-index:1000;
}

.a
{
	/*
	display: inline-block;
	*/
	word-wrap: break-word;
	color:#FF0000;
	padding-left: 1px;
	padding-right: 1px;
	z-index:1000;
}


#notebook_table
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:-1;
}

#logo
{
	width:130px;
	position:absolute;
	top:40px;
	left:50px;
}

#note_left
{
	position:absolute;
	width:355px;
	top:84px;
	left:53px;
}

#note_right
{
	width:355px;
	top:84px;
	left:492px;
	position:absolute;
}

#blue_pen
{
	position:absolute;
	top:30px;
	left:875px;
	width:360px;
}

#red_pen
{
	position:absolute;
	top:75px;
	left:875px;
	width:360px;
}

#qa_panel
{
	position:absolute;
	left:890px;
	top:95px;
	width:350px;
	height:320px;
}

#form_grandparent
{
	position:absolute;
	top:85px;
	left:890px;
	width:350px;
	height:320px;
}

#form_parent
{
	padding-left:30px;
	padding-top:80px;
}

#erasor
{
	position:absolute;
	top:390px;
	left:1060px;
	padding:20px;
	width:130px;
	z-index:1000;
}

#slime
{
	position:absolute;
	top:440px;
	z-index:1000;
	left:870px;
	padding:20px;
	width:150px;
	cursor: pointer;
}

#balloon
{
	position:absolute;
	top:440px;
	left:1000px;
	padding:20px;
	z-index:100;
	opacity:0;
}

#serif
{
	position:absolute;
	left:1060px;
	top:470px;
	width:150px;
	padding:20px;
	z-index:101;
}

#lines-left
{
	position:absolute;top:-2px;border:none;z-index:-1;
}

#score
{
	position:absolute;
	top:50px;
	left:280px;
	width:355px;
	color:#566573;
}

#a_total_num
{
	border-bottom: 1px dotted #d9d9d9;
}

textarea:focus, input:focus{
    outline: none;
}

input
{
	display:inline;
	word-break: break-word;
    font-size:13px;
    font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;	
}

#qa_input
{
	border-top: 1px dotted #9B9EA6;
	border-bottom: 1px dotted #9B9EA6;
}

.q_input
{
	border:none;
	color:#202DA2;
	background:transparent;
}

.a_input
{
	border:none;
	color:#FF0000;	
	background:transparent;
}

#top_border
{
	border-top:#9B9EA6 1px solid;
}

#bottom_border
{
	border-bottom:#9B9EA6 1px solid;
	margin-top: -3px;
}

#dialog
{
	background: url("../img/crystal_plate.png") no-repeat center;
	background-size:400px 300px;
	z-index: 10000;
    padding-top:40px;
    padding-left:60px;
    cursor: move;
}

.ui-dialog {
    background-color: rgba(255,255,255,0);
}

.ui-dialog-titlebar
{
	display:none;
}

#husen_paste
{
	text-align:center;
	color: #54A0DC;
	font-size:12px;
	display: table-cell;
	vertical-align: middle;
	width:250px;
	border: gray dotted 1px;
	height:80px;
}

#qa_husen
{
	display:none;
}

.husen
{
	display:inline-block;
	background: url("../img/husen_yellow-min.png") no-repeat center;
	background-size:120px 30px;
	padding-top:10px;
	margin-bottom:10px;
	margin-right:20px;
	text-align:center;
	z-index: 100000000;
	width:130px;
	height:30px;
    font-size:13px;
    font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;	
    opacity: 1;
    color:#202DA2;
    cursor: move;
    outline: none;
}

#blank_husen
{
	float:left;
}

#husen_wrapper
{
	width:100%;
	height:140px;
	overflow: scroll;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}
#husen_wrapper::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}

#qa_id
{
	display:none;
}

#dragme {
    width:100px;
    height:50px;
    background:#f30;
}

#loope
{
	width:100px;
	height:100px;
	zoom:150%;
	z-index:10000;
}

#crystal_board
{
	position:absolute;
	top:200px;
	left:430px;
	width:400px;
	height:300px;
	background: url("../img/crystal_plate.png") no-repeat center;
	background-size:400px 300px;
	z-index: 10000;
    padding-top:90px;
    padding-left:110px;
    cursor: move;
}

/* 虫眼鏡 START */
.magnifying_glass {
    width: 124px;
    height: 124px;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    
    border-radius: 62px; /* Half glass max width height */
    -moz-border-radius: 62px; /* Half glass max width height */
    -webkit-border-radius: 62px;
    
    /*border: 1px solid red;*/
    background-color: white;
    
    z-index: 100;
}

.magnifying_glass .magnified_content {
    
    margin-left: -62px; /* Half glass width */
    margin-top: -62px; /* Half glass height */
    
    overflow: visible;
    
    position: absolute;
    display: block;
    
    transform:scale(1.2);
    -moz-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.22);
    
    transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    -o-transform-origin: left top;
    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.magnifying_glass .magnifying_lens {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0.0;
    -ms-filter: alpha(opacity=0);

    cursor: move;
}

#loupe
{
	position: absolute;
	top:200;
	left:500;
	background: url("../img/loupe.png");
	background-size:300px 150px;
	height:150px;
	width:300px;
	z-index: 100;
    cursor: move;
}
/* 虫眼鏡 END */

