@CHARSET "UTF-8";

body{
	color:black;
    font-size:15px;
    font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
    position: relative;
    padding: 0px;
    margin: 0;
    /*長押し禁止*/
    /*-webkit-touch-callout: none !important;
    -webkit-user-select: none !important;*/
}

.qa,.date
{
/*	
	display: inline-block;
	*/
	padding-top: 5px;
	padding-bottom: 2px;
	/*
	border-bottom:#9B9EA6 1px solid;
	*/
	line-height:22px;
	border-right:#d9e6f2 1px solid;
	padding-left: 3px;
	padding-right: 3px;
	z-index:1000;
	cursor: pointer;
  border-bottom: #d9e6f2 1px solid;  
}

.qa[data-yomudake="true"]
{
	background-color:rgba(54, 176, 247, 0.1);
}

.q
{
	/*
	display: inline-block;
	*/
	word-wrap: break-word;
	color:#202DA2;
	padding-left: 1px;
	padding-right: 1px;
	z-index:1000;
}

.a
{
	/*
	display: inline-block;
	*/
	position:relative;
	word-wrap: break-word;
	color:#FF0000;
	padding-left: 1px;
	padding-right: 1px;
	z-index:1000;
}


.q_input
{
	border:none;
	color:#202DA2;
	background:transparent;
}

.a_input
{
	border:none;
	color:#FF0000;	
	background:transparent;
}

#qa_id
{
	display:none;
}

.check
{
	position: absolute;
	top:-12px;
	left:-8px;
	width:20px;
}
