<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>暗記ノート</title>
<link rel="stylesheet" type="text/css" th:href="@{../css/_main.css}" />
</head>
<body>
暗記ノート本体<br />
<form th:action="@{'/' + ${owner_id} + '/main.html'}" method="post">
問題<input type="text" name="mondai" /><br />
解答<input type="text" name="seitou" /><br />
読むだけ問題<input type="checkbox" name="yomudake_flg" /><br />
<button name="register" type="submit">問題登録</button>
</form>
<hr />
<div th:utext="${qa_html}"></div>
</body>
</html>