<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>暗記ノート</title>
<link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{../css/_main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{../css/jquery-ui.css}" />
<script th:src="@{../js/jquery-3.1.0.min.js}"></script>
<script th:src="@{../js/jquery-ui.js}"></script>
<script th:src="@{../js/_main.js}"></script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
/*]]>*/
</script>
</head>
<body onkeydown="key_event()" onload="javascript:document.getElementById('qa_input').focus();body_load();">
<div id="entire_page">

<div id="crystal_board" class="husen_draggable">
<div id="husen_wrapper" th:utext="${tags}"></div>
</div>

<audio id="play_qa" preload="auto">
<source th:src="@{/usr/local/anki_note/application/speech/s_id_000000005_audio.m4a}" type="audio/aac"></source>
</audio>


<audio id="seikai_se" preload="auto">
  <source th:src="@{../sound/seikai.mp3}" type="audio/mp3"></source>
</audio>
<audio id="huseikai_se" preload="auto">
  <source th:src="@{../sound/huseikai2.mp3}" type="audio/mp3"></source>
</audio>
<!--/* テーブル */-->
<img width="100%" id="wood_table" th:src="@{../img/wood_table-min.jpg}" />

<!--/* ノートエリア START */-->
<div id="note_area">
<!--/* ノート */-->
<img id="notebook" th:src="@{../img/ring_note-min.png}" />

<!--
<img id="notebook_table" th:src="@{../img/table.jpg}" />
-->
<br />
<!--/* ノートの左ページ */-->
 <img id="logo" th:src="@{../img/logo_emboss.png}" />
 <div id="score">
 <span id="a_total_num">全
 <span id="seitou_sum" style="color:#202DA2;" th:text="${seitou_sum}">&#8203;</span>
 問中
 <span id="seikai_sum" style="color:#FF0000;" th:text="${seikai_sum}">&#8203;</span>
 問正解</span>
 </div>

<!--/* ノートの左ページ */-->
 <div id="note_left">
  <div id="qa_area" th:utext="${qa_html}"></div>
	<table id="lines-left" cellpadding="0" cellspacing="0">
		<tr th:each="i : ${#numbers.sequence( 1, 25)}"><td class="note-line"></td></tr>
	</table>
	<div class="page">Page <span id="page_left" class="page">1</span>
	/
	<span class="total_pages" th:text="${total_pages}"></span></div>
 </div>

<!--/* ノートの右ページ */-->
 <div id="note_right">
  <div id="qa_area_right" th:utext="${qa_html_right}"></div>
	<table style="position:absolute;top:-2px;border:none;z-index:-1" cellpadding="0" cellspacing="0">
		<tr th:each="i : ${#numbers.sequence( 1, 25)}"><td class="note-line"></td></tr>
	</table>
	<div class="page_right">Page <span id="page_right" class="page">2</span>
	/
	<span class="total_pages" id="total_pages" th:text="${total_pages}"></span></div>
 </div>
 <br />
<!--/* ノートエリア END */-->
</div>

<!--/* 消しゴム */-->
<img id="erasor" th:src="@{../img/eraser.png}" />

<!--/* スライム */-->
<img id="slime" th:src="@{../img/smileslime2.png}" onclick="slime_speak();" />

<!--/* 吹き出し */-->
<img id="balloon" th:src="@{../img/balloon.png}" />

<!--/* セリフ */-->
<div id="serif">&#8203;</div> 

<img id="premium" th:src="@{../img/premium.png}" />

<div id="navigation">
<img class="black_button" th:src="@{../img/tag_top.png}" />
<img class="black_button" th:src="@{../img/tag_usage.png}" />
<img class="black_button" th:src="@{../img/tag_logout.png}" />
<br />
<img class="black_button" th:src="@{../img/tag_tag.png}" />
<img class="black_button" th:src="@{../img/tag_kiyaku.png}" />
<img class="black_button" th:src="@{../img/tag_setting.png}" />
</div>

<!--/* 青ペン */-->
<img id="blue_pen" th:src="@{../img/blue_pen.png}" />

<!--/* 赤ペン */-->
<img id="red_pen" th:src="@{../img/red_pen.png}" />

<!--/* QAパネル */-->
<img id="qa_panel" th:src="@{../img/qa_board2.png}" />

<div id="form_grandparent">
<div id="form_parent">
<form th:action="@{'/' + ${owner_id} + '/main.html'}" method="post" onsubmit="javascript:copy_to_hidden();">
<!--/* QA文登録エリア start */-->
<div id="qa_input" contenteditable="true"  
 onkeypress="javascript:enter();" onfocus="javascript:qa_focus(this);" tabindex="1">
</div>
<textarea id="qa_input_hidden" name="qa_input_hidden" style="display:none;">&#8203;</textarea>
<!--/* QA文登録エリア end */-->
<div id="spacer" style="height:5px;"></div>
<!-- <input id="yomudake_flg" type="checkbox" name="yomudake_flg" value="off" onclick="change_val(this)" />読むだけ問題&nbsp;
<input id="reversible_flg" type="checkbox" name="reversible_flg" value="off" onclick="change_val(this)" />リバーシブル問題<br /> --><!-- 重要度：★★★☆☆　難易度：★★★☆☆<br /> -->
<div id="husen_paste" class="husen_draggable">付箋をドラッグ</div>
<button id="register" name="register" type="submit" tabindex="2" value="" style="display:none;"></button>
	<img id="wax_stamp" onclick="$('#register').click();" th:src="@{../img/wax_stamp.png}" width="65px" />
<textarea id="qa_husen" name="qa_husen"></textarea>
<div style="height:5px;"></div>
<input id="qa_id" type="hidden" name="qa_id" />
<!-- <button name="register" type="submit" tabindex="2">問題登録</button> --></form>
</div>

</div>
</div>

<div id="note_context-menu" style="display:none"> 
  <!-- The actual menu that will be displayed-->
  <ul class="dropdown-menu">
    <li><a href="#" onclick="javascript:show_red();">一時的に全ての解答を表示（ALT+R）</a></li>
    <li><a href="#" onclick="javascript:hide_red();">一時的に全ての解答を隠す（ALT+W）</a></li>
    <li><a href="#" onclick="javascript:reset_red();">解いた解答だけ表示する（ALT+R / ALT+W）</a></li>
    <li class="divider"></li>
    <li><a href="#" onclick="javascript:to_miseikai();">検索中の全問題を未正解に戻す</a></li>
  </ul>
</div>
<div id="qa_context-menu" style="display:none"> 
  <!-- The actual menu that will be displayed-->
  <ul class="dropdown-menu">
    <li><a href="#" onclick="javascript:slime_speech();">スライムに教える</a></li>
  </ul>
</div>
<script th:src="@{../js/contextmenu.js}"></script> 
<script>
$(document).ready(function(){
    $('#note_area').contextmenu({
        target: "#note_context-menu"
    });
    $('.qa').contextmenu({
        target: "#qa_context-menu"
    });
    var margin_top = $(".dropdown-menu").css("margin-top");
//    alert(margin_top);
    $(".dropdown-menu").css("margin-top", "-15px");
    $(".dropdown-menu").css("opacity", "0.9");
});
</script>

</body>
</html>