<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>暗記ノート 問題集 | 暗記学習ソフトの決定版！問題集を売って勉強しながらお金を稼ごう！問題集を無料/有料で探して大量に暗記学習！</title>
<link th:href="@{css/_workbook.css}" rel="stylesheet" />
</head>
<body>
<div class="notes_area">
  <div class="shelf">
    <div class="note_wrapper">
      <img width="20%" class="note premium" th:src="@{img/top-view.png}" />
    </div>
    <div class="note_wrapper">
      <img width="20%" class="note premium" th:src="@{img/top-view.png}" />
    </div>
    <div class="note_wrapper">
      <img width="20%" class="note premium" th:src="@{img/top-view.png}" />
    </div>
    <div class="note_wrapper">
      <img width="20%" class="note premium" th:src="@{img/top-view.png}" />
    </div>
  </div>
  <div class="shelf">
    <div class="note_wrapper">
      <img width="20%" class="note premium" th:src="@{img/top-view.png}" />
    </div>
    <div class="note_wrapper">
      <img width="20%" class="note premium" th:src="@{img/top-view.png}" />
    </div>
    <div class="note_wrapper">
      <img width="20%" class="note premium" th:src="@{img/top-view.png}" />
    </div>
    <div class="note_wrapper">
      <img width="20%" class="note premium" th:src="@{img/top-view.png}" />
    </div>
  </div>
</div>
</body>
</html>